 <!-- footer -->
 <section id="connections"></section>
 <footer>
    
        <!-- <section class="footer">
            <ul>
                <li><a href="">FDND.nl</a></li>
                <li><a href="">Contact en routebeschrijving</a></li>
                <li><a href="">Programma</a></li>
                <li><a href="">Studie Keuze Check</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="">Leertaken</a></li>
                <li><a href="">Styleguide</a></li>
            </ul>
        </section> -->
                
        <section class="nav-buttons">
            <nav>
             <ul>
                <button class="sessies-button"><a href="">FDND.nl</a></button>
                <button class="upcoming-button"><a href="">Contact en routebeschrijving</a></button>
                <button class="links-button"><a href=""></a>Programma</button>
                <button class="aanmelden-button"><a href=""></a>Studie Keuze Check</button>
                <button class="sessies-button"><a href=""></a>Partners</button>
                <button class="upcoming-button"><a href=""></a>Leertaken</button>
                <button class="links-button"><a href=""></a>Styleguide</button>
              </ul>
            </nav>
        </section>

 </footer>