<div class="main aanmelden">
    <div class="crud">
        <form action="/delete" method="POST">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="email">email</label>
            <input type="text" id="email" name="email" placeholder="Your email..">

            <label for="Sessie">Session</label>
            <select id="Sessie" name="Sessie">
              <option value="We LOVE web CSS">We LOVE web CSS</option>
              <option value="Coderen als Daan">Coderen als Daan</option>
              <option value="Frontend Development and Design">Frontend Development and Design</option>
              <option value="Design for all">Design for all</option>
            </select>
          
            <input type="submit" value="Submit">
        </form>
    </div>
</div>